* {
  margin: 0px;
  box-sizing: border-box;
}
.header {
  position: absolute;
  height: 70px;
  width: 100%;

  background-color: #dcdde0;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
.header span {
  position: absolute;
  margin-left: 40px;
  margin-top: 15px;
  height: 100%;
}
.footer {
  position: fixed;
  height: 90px;
  width: 100%;
  bottom: 0px;
  background-color: #dcdde0;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer .chart-gntr {
  height: 65px;
}

.data-screen {
  position: absolute;
  top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.data-screen .split-flex {
  height: 1000px;
}
.chart-interface {
  width: 65%;
  margin-bottom: 75px;
}
.input-interface {
  background-color: #2e3440;
  height: 200px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}
.gutter {
  background-color: none;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url("./assets/images/hamburguer.png");
  background-size: 55px 27px;
  background-color: none;
  border-radius: 5px;
  cursor: row-resize;
}
.footer {
  position: fixed;
  height: 70px;
  width: 100%;
  bottom: 0px;
  background-color: #dcdde0;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer .chart-gntr {
  height: 60%;
}
.footer .chart-gntr button {
  background-color: #017eff;
  border-radius: 5px;
  border-width: 0px;
  height: 100%;
  width: 180px;
  color: white;
  margin-left: 50px;
  font-weight: bolder;
}

.data-screen {
  position: absolute;
  top: 70px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.data-screen .split-flex {
  height: 1000px;
}
.chart-interface {
  width: 65%;
  margin-bottom: 75px;
}
.input-interface {
  background-color: red;
  color: aliceblue;
}
.input-interface .ace-editor {
  width: 100%;
  height: 100%;
  background-color: royalblue;
}
.input-interface .ace-editor .ace {
  width: 100%;
  height: 100%;
}
