*{
  margin: 0px;
  box-sizing: border-box;
}
.header{
  position: absolute;
  height: 70px;
  width: 100%;

  background-color: #dcdde0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: bolder;
}
.header span{
  position: absolute;
  margin-left: 40px;
  margin-top: 15px;
}
.footer{
  position: fixed;
  height: 70px;
  width: 100%;
  bottom: 0px;
  background-color: #dcdde0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer .chart-gntr{
  height: 50px;
}
.footer .chart-gntr button{
  margin-left: 40px;
  height: 100%;
  
  background-color: #2d58ff;
  border-radius: 5px;
  border-width: 0px;
  
}
.footer .chart-gntr button span{
  color: white;
  padding: 0px 10px;
}
.data-screen{
  position: absolute;
  top: 70px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
}
.chart-interface{
  width: 85%;
  margin-bottom: 75px;
  
}
.input-interface{
  background-color:#2e3440;
  height: 200px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}
.input-interface .line{
  height: 40px;
  display: flex;
  flex-direction: row;
}
.input-interface .line .index{
  background-color: #61656e;
  height: 100%;
  width: 50px;
  text-align: end;
  padding-top: 15px;
}
.input-interface .line .index span{
  font-size: 20px;
  margin-right: 10px;
  color:#42464f ;
  
 }
 .input-interface .line .input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
.input-interface .line .input input{
  background-color:#2e3440;
  height: 100%;
  width: 100%;
  border-width: 0px;
  color: white;
  font-size: 20px;
  padding-top: 15px;
outline: none;

}

